body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 0;
    padding-top: 50%;
    padding-bottom: 50%;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.form-container {
    background-color: gray;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-section, .form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
}

button:hover {
    background-color: #4cae4c;
}

.hidden {
    display: none;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
}

#successMessage {
    color: green;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

@media (max-width: 600px) {
    .form-container {
        padding: 15px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="file"],
    textarea,
    select {
        padding: 10px;
        font-size: 14px;
    }

    button {
        padding: 12px;
        font-size: 18px;
    }

    .form-section, .form-group {
        margin-bottom: 20px;
    }

    label {
        margin-bottom: 8px;
    }

    .error-message {
        font-size: 14px;
    }
}
